@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@layer base {
    body {
        @apply relative w-full min-h-screen bg-white text-primary;
    }
}

:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #535353;
}

::-webkit-scrollbar-thumb:hover {
    background: #353535;
}
